body {
	padding-top: 1000px;
	margin: 0px;
	text-align: center;
}

.pic1 {
	width: 200px;
	margin-bottom: 50px;
	border-radius: 50%;
}

#welcome {
	width: 100%;
	bottom:0;
	height: 100%;
	display: table;
	background: linear-gradient(#1E90FF 0%, #27ae60 100%);
	opacity: 0.83;
	z-index: 9;
}

.section1 {
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;

}

h1 {
	font-size: 40px;
	font-family: monospace;
	font-weight: 300;
}

#name {
	font-size: 50px;
	line-height: 1.2;
	font-family: 'Crimsom Text';
	font-weight: 500;
}

h2 {
	font-size: 30px;
	font-family: inherit;

}

#bio {
	text-align: center;
	padding: 50px;
	background: linear-gradient(#77d0d1 0%, #77d17d0 100%);
}

.line {
	height: 6px;
	background-color: black;
	width: 100px;
	margin: 8px auto;
}

p {
	margin: 25px auto;
	font-size: 20px;
	max-width: 450px;
}

.article:hover {
	color: cornflowerblue;
}

#writing a {
	text-shadow: none !important;
	text-decoration: underline !important;
	color: blue !important;

}

#contact {
	background: firebrick;
}

#contact iframe {
	width: 100%;
}

.contact1 {
	color: white;
	text-shadow: none;
}

.my_nav_bar {
	position: sticky;
	top: 0;
	z-index: 9999;
}
input{
	background:grey;
}